[submodule "personal"]
	path = personal
	url = https://bruf@github.com/bruf/emacs-prelude-personal.git
[submodule "vendor/feature-mode"]
	path = vendor/feature-mode
	url = https://github.com/michaelklishin/cucumber.el
